<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    <form action="{% url 'postuser' %}" method="post">
        {% csrf_token %}
        <h1>FORM TAMBAH USER</h1>
        <p>userid: </p>
        <input type="text" name="userid" id="userid" maxlength="4" required>
        <p>username: </p>
        <input type="text" name="username" id="username" maxlength="10" required>
        <p>password: </p>
        <input type="password" name="password" id="password" maxlength="10" required>
        <p>password lagi: </p>
        <input type="password" name="password2" id="password2" maxlength="10" required>
        <br>
        <input type="submit" value="Submit">
        <a href="{% url 'masteruser' %}">kembali</a>
    </form>
</body>
</html>